#off_part{
    margin-top: 100px;
    .left_banner{
        background: url(../../../images/off_left_nammer.png) no-repeat center;
        background-size: cover;
        padding: 110px 0 130px 115px;   
      
    }
    .right_banner{
        background: url(../../../images/off_right_banner.png) no-repeat center;
        background-size: cover;
        padding: 110px 0 130px 115px;   
    }

    p{
        font-family: $heading-font-family;
        font-weight: $regular-font-weight;
        font-size: 14px;
        color: $seconderycolor;
    }
    h2{
        font-family: $heading-font-family;
        font-weight: $bold-font-weight;
        color: $seconderycolor;
        font-size: 36px;
        width: 253px;
    }
    @include small{
        .left_banner{
            padding: 0px 0 0px 30px;

        }
        .right_banner{
            padding: 110px 0 99px 30px; 
        }
        #off_part p {
          
            font-size: 13px;
          
            padding-top: 30px;
        }
        #off_part h2 {
         
            font-size: 28px;
           
         
          
        }
    }
    @include mediam{
        .left_banner{
            padding: 110px 0 60px 60px;
            margin-bottom: 40px;
        }
        .right_banner{
            padding: 110px 0 60px 60px; 
        }
        // #off_part p {
          
        //     font-size: 13px;
          
        //     padding-top: 30px;
        // }
        // #off_part h2 {
         
        //     font-size: 28px;
           
         
          
        // }
    }
    @include learg{
        .left_banner{
            padding: 110px 0 60px 60px;
            margin-bottom: 40px;
        }
        .right_banner{
            padding: 110px 0 60px 60px; 
        }
     
    }
    @include Elarge{
        .left_banner{
            padding: 110px 0 115px 30px;
            margin-bottom: 40px;
        }
        .right_banner{
            padding: 110px 0 115px 30px;
        }
     
    }
}

