#desitiom_part{
    margin-top: 100px;

  .desition_border{
    .item{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 100px;
        .icon{
            margin-right: 10px;
            width: 100px ;
            height: 100px;
            background: $fourcolor;
            border: 1px solid $therdcolor;
            border-radius: 50%;
            line-height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            &_round{
                width: 75px;
                height: 75px;
                background: transparent;
                border-radius: 50%;
                text-align: center;
                line-height: 75px;
                
            }
        }
        .text{
            width: 68%;
            h4{
                font-family: $heading-font-family;
                font-family: $medium-font-weight;
                font-size: 18px;
                color: $prymaricolor;
            }
            p{
                font-family: $heading-font-family;
                font-weight:$Light-font-weight;
                font-size: 14px;
                color: $pcolor;
                width: 248px;
                line-height: 20px;
                margin-top: 20px;

            }
        }
    }
    border-bottom: 1px solid $prymaricolor;

  }

   @include small{
       margin-top: 150px;
    .desition_border .item{
         justify-content: center;
         padding-bottom: 30px;
         p{
             width: auto;
         }
         .text{
             h4{
                margin-top: 20px;
                text-align: center;
             }
         }
     }
   }
   @include small{
       margin-top: 150px;
    .desition_border .item{
         justify-content: center;
         padding-bottom: 30px;
         p{
             width: auto;
         }
         .text{
             h4{
                margin-top: 20px;
                text-align: center;
             }
         }
     }
   }
   @include mediam{
       margin-top: 200px;
        .desition_border .item {
 
        padding-bottom: 50px;
    }
    .desition_border .item .text {
        width: 70%;
    }
   }
   @include learg{
       margin-top: 250px;
        .desition_border .item {
 
        padding-bottom: 50px;
    }
    .desition_border .item .text {
        width: 80%;
    }
   }

}