#offer_part {
    margin-top: 100px;
    margin-bottom: 100px;

    .item {
        margin: 0 15px;
        box-sizing: border-box;

        &:hover .text {
            box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.35);

        }

        .img {
            padding: 0 30px;
            transform: translateY(92px);

            img {
                width: 100%;
            }
        }

        .text {
            background: $seconderycolor;
            padding: 135px 23px 0px 30px;
            border-radius: 10px;
            border: 1px solid #f4f3ec;
            transition: .4s;

            h3 {
                font-family: $heading-font-family;
                font-weight: $bold-font-weight;
                font-size: 24px;
                color: $prymaricolor;
            }

            p {
                font-family: $heading-font-family;
                font-weight: $Light-font-weight;
                font-size: 14px;
                color: $prymaricolor;
            }
        }
    }

    .left {
        position: absolute;
        left: -100px;
        top: 50%;
        transform: translateX(-50%);
        z-index: 999;
        width: 80px;
        height: 80px;
        background: $prymaricolor;
        border-radius: 50%;
        line-height: 80px;
        text-align: center;
        font-size: 18;
        color: $seconderycolor;
        transition: .4s;

        &:hover {
            background: $prymaricolor;
            color: $seconderycolor;
        }

        &:hover::after {
            border: 1px solid $prymaricolor;
        }
    }

    .right {
        position: absolute;
        right: -170px;
        top: 50%;
        transform: translateX(-50%);
        z-index: 999;
        width: 80px;
        height: 80px;
        background: $prymaricolor;
        border-radius: 50%;
        line-height: 80px;
        text-align: center;
        font-size: 18;
        color: $seconderycolor;
        transition: .4s;
        // &:hover{
        //     background: $prymaricolor;
        //     color: $seconderycolor;
        // }
        // &:hover::after{
        //  border: 1px solid $prymaricolor;
        // }

    }

    .fa-arrow-right::after {
        position: absolute;
        top: -12%;
        left: -12%;
        background: transparent;
        border-radius: 50%;
        border: 1px solid $prymaricolor;
        width: 100px;
        height: 100px;
        content: "";
    }

    .fa-arrow-left::after {
        position: absolute;
        top: -12%;
        left: -12%;
        background: transparent;
        border-radius: 50%;
        border: 0px solid $prymaricolor;
        width: 100px;
        height: 100px;
        content: "";
    }
}