#company_part{
    margin-top: 100px;
    .banner{
        background: url(../../../images/banner.png) no-repeat center;
        background-size: cover;
        // position: relative;
        .overlay{
          
            width: 100%;
            height: 100%;
            background: rgba(147, 126, 80,.5);
            padding: 150px 0;
            color: $seconderycolor;
            font-family: $heading-font-family;
            h3{
             
                font-weight: $medium-font-weight;
                font-size: 24px;
                
            }
            h1{
          
                font-weight: $bold-font-weight;
                font-size: 48px;
              
                margin-top: 40px;
                width: 510px;
            }
            p{
               
                font-weight: $regular-font-weight;
                font-size: 18px;
             
                margin: 40px 0; 
                width: 520px;
                line-height: 30px;
            }
            .btn {
                margin-left: -12px;
            a {
                padding: 20px 40px;
                background: $prymaricolor;
                border-radius: 50px;
                font-family: $heading-font-family;
                font-weight: $medium-font-weight;
                font-size: 16px;
                color: $seconderycolor;

                i {
                    margin-right: 5px;
                }
            }
        }
        }
    }
    @include small{
     .banner .overlay{
        h3{
            font-size: 20px;
        }
        h1{
            width: auto;
            font-size: 33px;
        }
         p {
          
            width: auto;
         
        }

     } 
        
    }
}